@model IEnumerable<School_Project.Entities.Student>

<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />

<br />
<a href="/Students/Create" class="btn-success btn-sm">+ Include Student</a>
<br />
<br />


<table id="datatable" class="display" style="width:100%">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Surname
            </th>
            <th>
                Date of Birthday
            </th>
            <th style="width: 25%">
                Address
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SurName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DOB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address1)
                </td>
                <td>
                    <a href="/CoursesStudents/ListCoursesAvaliableByStudent/@item.Id" class="btn btn-primary btn-sm">Link Student</a>
                    <a href="/Students/Edit/@item.Id" class="btn btn-secondary btn-sm">Edit</a>
                    <a href="/Students/Details/@item.Id" class="btn btn-info btn-sm">Details</a>
                    <a href="/Students/Delete/@item.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }

    </tbody>
    <tfoot>
        <tr>
            <th>First Name</th>
            <th>Surname</th>
            <th>Date of Birthday</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
    </tfoot>
</table>

@section scripts{
    <script type="text/javascript" src="~/Scripts/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Utils/Utils.js"></script>
    <script type="text/javascript" src="~/Scripts/CoursesStudents/CoursesStudents.js"></script>
    <script type="text/javascript">


        $(function () {

            $('#datatable').DataTable();

            Util();
            coursesStudents();
            coursesStudents.dataTables();
        });

    </script>
}

