@model School_Project.Entities.Login

@{
    Layout = string.Empty;
}

<link href="~/Content/login-theme.css" rel="stylesheet" type="text/css" />
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<head>
    <title>SingIn - School</title>
</head>

<div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form-1">
            <h3>Sing in</h3>
            @using (Html.BeginForm("SingIn", "Login", FormMethod.Post, new { @id = "login-form", @class = "text-left" }))
            {
                <div class="form-group">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @placeholder = "Your User Name *",
                            @class = "form-control", @type = "Your User Name *" } })
                </div>
                <div class="form-group">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @placeholder = "Your Password *",
                            @class = "form-control", @type = "password" } })
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Login" />
                </div>
            }
        </div>
    </div>
</div>


